.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.leftSide {
  width: 240px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.rightSide {
  width: calc(100% - 240px);
  background-color: #f2f2f2;
}
/* .innerSection {
  height: calc(100vh - 63px);
  overflow-y: auto;
  overflow-x: hidden;
} */
.appMain {
  display: flex;
}
.fullView .leftSide {
  display: none;
}
.fullView .rightSide {
  width: 100%;
}
.topBarImage {
  width: 100%;
  margin-bottom: -5px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
